<nav class="app-header">
  <div class="left">
    <ul class="nav-list">
      <li *ngFor="let item of menuItems; let i = index">
        <a
          class="nav-link"
          [routerLink]="item.url"
          routerLinkActive="nav-link--active"
          [routerLinkActiveOptions]="{ exact: true }"
          >{{ item.label }}</a
        >
      </li>
    </ul>
  </div>

  <div class="right">
    <div class="user-menu" (click)="$event.stopPropagation()">
      <button class="user-button" type="button" (click)="toggleUserMenu()">
        {{ usernameLabel }}
      </button>
      <ul class="user-dropdown" *ngIf="userMenuOpen">
        <li *ngFor="let item of userItems">
          <button type="button" (click)="item.action(); closeUserMenu()">{{ item.label }}</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
