// Colores
$color-primary: #DB0032;
$color-primary-600: #f8426c;
$color-secondary: #6c757d;
$color-surface: #ffffff;
$color-border: #dcdcdc;
$color-background: #f7f8fa;
$color-success: #28a745;
$color-warning: #ffc107;
$color-error: #dc3545;

// Tipografía y espaciado
$font-family-base: 'Satoshi-Regular', system-ui;

:root {
	--color-primary: #{$color-primary};
	--color-primary-600: #{$color-primary-600};
	--color-secondary: #{$color-secondary};
	--color-surface: #{$color-surface};
	--color-border: #{$color-border};
	--color-background: #{$color-background};
	--color-success: #{$color-success};
	--color-warning: #{$color-warning};
	--color-error: #{$color-error};

	--font-family-base: #{$font-family-base};
}
