// Colores
$color-primary: #DB0032;
$color-primary-600: #f8426c;
$color-secondary: #6c757d;
$color-surface: #ffffff;
$color-border: #dcdcdc;
$color-background: #f7f8fa;
$color-success: #28a745;
$color-warning: #ffc107;
$color-error: #dc3545;

// Tipografía y espaciado
$font-family-base: 'Satoshi-Regular', system-ui;
