@use '../../../styles/variables' as vars;


.login {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;

	&__panel {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 1.25rem;
		width: 100%;
		max-width: 420px;
		box-sizing: border-box;
		background: transparent;
	}

	&__field {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		width: 100%;
	}

	&__label {
		font-weight: 600;
		font-size: 0.95rem;
	}

	&__input {
		padding: 0.5rem 0.75rem;
		border: 1px solid vars.$color-border;
		font-size: 1rem;
		width: 100%;
		box-sizing: border-box;
		background-color: vars.$color-surface;
	}

	&__actions {
		display: flex;
		width: 100%;
	}

	&__button {
		width: 100%;
		max-width: 280px;
		margin: 0 auto;
		display: flex;
    gap: 5px;
	}
}
