.admin {
  margin: 20px;
  padding: 24px;
  border: 2px solid var(--color-primary);
  border-radius: 20px;
  &__header {
    margin-bottom: 1rem;
  }
  &__subtitle {
    color: var(--color-secondary);
    margin-top: 0.25rem;
  }
  &__actions {
    display: flex;
    gap: 0.5rem;
  }
}
.button {
  background-color: var(--color-primary);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}