.form {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  &__error {
    font-size: 10px;
    color: var(--color-error);
    position: absolute;
    bottom: -15px;
  }
  &__input{
    &--group {
      display: flex;
      flex-direction: column;
      gap: 5px;
      position: relative;
      &.textarea {
         grid-column: 1/3;
      }
    }
  }
  &__buttons {
    grid-column: 1/3;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    width: 100%;
  }
}